main {
  padding-top: 7vh;
  background-color: rgb(145, 194, 105);
  color: white;
  min-height: 100vh;
}

nav {
  background-color: green;
  color: white;
  display: block;
  max-height: 7vh;
  min-height: 7vh;
}

.menu .navlinks {
  background-color: green;
  color: white;
}

#headshot {
  max-height: 50vh;
  max-width: 40vw;
  margin: auto;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

#aboutMe {
  color: white;
  background-color: rgb(145, 194, 105);
  min-height: 44vh;
  max-height: 100vh;
  flex-direction: column;
  text-align: center;
}

#aboutPic{
  margin: auto;
}

#aboutText{
  margin: auto;
  text-align: center;
}

#aboutText p{
  margin: auto;
}


#projects {
  text-align: center;
  font-size: 1rem;
  max-height: 44vh;
  min-height: 44vh;
  max-height: 96vh;
  flex-direction: column;
  background-color: rgb(145, 194, 105);;
}

.projectGif{
    height: 75vh;
}

.projectFooter{
  background-color: rgb(145, 194, 105);
  margin-bottom: 2vh;
}

.modalButton{
  background-color: green;
  color: white;
}

.modal{
  color: black
}

.modal a {
  color:green;
}

.tooltip{
  background-color: black;
}

.projectFooter  a{
  color: white
}